$accent: rgb(250, 113, 34);
.project-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  .project-card {
    display: flex;
    border: 1px solid gray;
    border-radius: 1rem;
    width: 90%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    .image-cont {
      width: 100%;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      min-height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: whitesmoke;
      border-bottom: 1px solid black;
      .project-image {
        width: 75%;
        margin: 2rem 0;
        aspect-ratio: 16/9;
        border: 1px solid black;
      }
    }
    .project-text {
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      padding: 1rem;
      background-color: whitesmoke;
      .project-title {
        font-size: 22px;
        margin: 0;
        color: $accent;
      }
      .project-description {
        font-size: 16px;
        color: gray;
      }
      .button-cont {
        display: flex;
        justify-content: space-around;
        button {
          background: rgba(248, 142, 81, 0.849);
          border: 1px solid gray;
          border-radius: 5px;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  .project-cont {
    .project-card {
      .project-text {
        .project-title {
          font-size: 30px;
        }
        .project-description {
          font-size: 22px;
        }
        .button-cont {
          button {
            font-size: 1.5rem;
            border-radius: 10px;
          }
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .project-cont {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    .project-card {
      width: 40vw;
      .project-text {
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .project-title {
          font-size: 40px;
        }
        .project-description {
          min-height: 225px;
          font-size: 30px;
        }
        .button-cont {
          margin-bottom: 1rem;
          button {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
@media (min-width: 1900px) {
  .project-cont {
    .project-card {
      width: 35vw;
      .project-text {
        height: 350px;
        .project-title {
          font-size: 46px;
        }
      }
    }
  }
}
